<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zarwis talks here</title>
</head>

<body>
<h1><a href="#" target="_blank">Zarwis Talks here</a></h1>
<div>
    {% for post in posts %}
        <div>
            <p>publised: {{ post.publised_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text | linebreaksbr }}</p>
        </div>
    {% endfor %}
</div>
</body
</html>
